<div class="wrappe backgroundr" [formGroup]="form">
  <div class="box">
    <h2>Sign in</h2>
    <mat-form-field>
      <mat-label>Enter your email</mat-label>
      <input
        matInput
        placeholder="test@example.com"
        formControlName="email"
        (blur)="updateEmailErrorMessage()"
        required
      />
      @if (form.controls.email.invalid) {
      <mat-error>{{ emailErrorMessage() }}</mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <mat-label>Enter your password</mat-label>
      <input
        matInput
        formControlName="password"
        (blur)="updatePasswordErrorMessage()"
        required
        [type]="passwordVisible ? 'text' : 'password'"
      />
      <button type="button" mat-icon-button matSuffix (click)="passwordVisible = !passwordVisible" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="!passwordVisible">
        <mat-icon>{{passwordVisible ? 'visibility' : 'visibility_off'}}</mat-icon>
      </button>
      @if (form.controls.password.invalid) {
      <mat-error>{{ passwordErrorMessage() }}</mat-error>
      }
    </mat-form-field>
    <button mat-flat-button [disabled]="form.invalid" (click)="submit()">
      Log in
    </button>
    <p>Don't have an account? You can <a class="text-blue-600 underline" href="/sign-up">sign up</a> then.</p>
  </div>
</div>
