<div class="col-span-2 bg-gray-300 flex gap-2 flex-col p-4 h-[95%]">
  <h2 class="text-gray-800">Make a note</h2>
  <div class="mt-4 flex gap-2 flex-col" [formGroup]="form">
    <mat-form-field>
      <mat-label>Enter note's name</mat-label>
      <input
        matInput
        placeholder="Event name"
        formControlName="name"
        (blur)="updateNameErrorMessage()"
        required
      />
      @if (form.controls.name.invalid) {
      <mat-error>{{ nameErrorMessage() }}</mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <mat-label>Enter note's content</mat-label>
      <textarea
        matInput
        formControlName="content"
        rows="20"
        (blur)="updateContentErrorMessage()"
        required
      ></textarea>
      @if (form.controls.content.invalid) {
      <mat-error>{{ contentErrorMessage() }}</mat-error>
      }
    </mat-form-field>
    <button mat-raised-button [disabled]="form.invalid" (click)="submit()">
      Submit
    </button>
  </div>
</div>
